[run]
branch = True
source = taxsim

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    taxsim/county_data.py
    taxsim/marriage_penalty.py
    taxsim/graph.py
    tests/*